h1{
    color:red;
    background-color: #e8ffe0;
    text-align: center;
}

h2{
    color:purple;
    background-color: #ffebeb; 
    text-align: center;
}

p{
    color: orange;
    background-color: #f9ebff; 
    text-align: center;
}